<!doctype html>
<html ng-app="barcelonaApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css" />
    <!-- endbuild -->
  </head>
  <body ng-controller="BaseCtrl as baseCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>

          <div class="collapse navbar-collapse qaheader" id="js-navbar-collapse">

            <a href="#/" class="navbar-brand">
                <img src="images/QAC1.png" />
            </a>
            <ul class="nav navbar-nav">
              <li ng-class="{active: baseCtrl.isSet(1)}">
                <a ng-href="#/" ng-click="baseCtrl.setTab(1)">Home</a>
              </li>
              <li ng-class="{active: baseCtrl.isSet(2)}">
                <a ng-href="#/about" ng-click="baseCtrl.setTab(2)">About</a>
              </li>
              <li ng-show="loggedIn" ng-class="{active: baseCtrl.isSet(3)}">
                <a ng-href="#/talks" ng-click="baseCtrl.setTab(3)">Talks</a>
              </li>
              <li ng-show="loggedIn" ng-class="{active: baseCtrl.isSet(4)}">
                <a ng-href="#/attendees" ng-click="baseCtrl.setTab(4)">Attendees</a>
              </li>
            </ul>
          <div class="loginSection">
            <div ng-hide="loggedIn">
              <a class="btn btn-primary" role="button" ng-href="#/login">Log in</a>
            </div>
            <div ng-show="loggedIn">
              <span>Hi, Tom!</span>
              <a class="btn btn-primary" role="button" ng-click="baseCtrl.logOut()">Log out</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view="" ng-show="baseCtrl.showPage()"></div>
    </div>
    <div class="container">
    <div ng-hide="baseCtrl.showPage()">
      <h2>You must be logged in to view this page</h2>
      <p>Cick <a ng-href="#/login">here</a> to log in.</p>
    </div>
    </div>


    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/router.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/base.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/talks.js"></script>
        <script src="scripts/controllers/attendees.js"></script>
        <script src="scripts/services/attendeeService.js"></script>
        <script src="scripts/services/loginService.js"></script>
        <script src="scripts/services/talksService.js"></script>
        <script src="scripts/directives/loginDirective.js"></script>
        <script src="scripts/directives/personDirective.js"></script>
        <!-- endbuild -->
</body>
</html>
